@model CodeZen_SDTP.Models.DriverViewModel

<div class="row">
    <div class="col-md-4">
        @*<form asp-action="AddOrEdit"
            Vehicle Reg Number input
            <div class="form-group">
                <label asp-for="Vehicle_Reg_No" class="control-label"></label>
                <input asp-for="Vehicle_Reg_No" class="form-control" />
                <span asp-validation-for="Vehicle_Reg_No" class="text-danger"></span>
            </div>

             Vehicle Type 
            <div class="form-outline mb-4">
                <label class="visually-hidden" for="inlineFormSelectPref">Vehicle Type</label>
                <select class="select">
                    <option value="1">Motor Cycle</option>
                    <option value="2">3 Wheeler</option>
                    <option value="3">Car</option>
                    <option value="4">Van</option>
                    <option value="5">Truck</option>
                </select>
            </div>

             Submit button 
            <button type="submit" class="btn btn-primary">Add Vehicle</button>
        </form>*@
    </div>
</div>