@model CodeZen_SDTP.Models.VehicleViewModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>

<div class="row">
    <div class="col-md-4">
        <form asp-action="VehicleDelete" method="post">

            @*Vehicle ID*@
            <div class="form-outline mb-4">
                <div class="form-outline">
                    <input type="text" id="form3Example1" class="form-control" name="Vehicle_RegNo" />
                    <label class="form-label" for="form3Example1">Vehicle Registration Number</label>
                </div>
            </div>

           

            @*Submit button*@
            <button type="submit" class="btn btn-danger">Delete Vehicle</button>
        </form>
    </div>
</div>

