<h1>Login</h1>

<form method="post">
    <input class="form-control" type="text" name="txtEmail" placeholder="Email" />
    <input class="form-control" type="text" name="txtPassword" placeholder="Password" />
    <div class="form-outline mb-4">
        <label class="visually-hidden" for="inlineFormSelectPref">Account Type</label>
        <select class="select" name="slctUserType">
            <option value="Police">Police</option>
            <option value="Insurance">Insurance</option>
            <option value="RDA">RDA</option>
            <option value="Driver">Driver</option>
        </select>
    </div>
    <br />
    <button class="btn btn-success">Sign In</button>
</form>